*{margin: 0; padding: 0;}

body{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 20px;
background-color: #000000;
background-image: url('asasa.png');
}

.menu{
   
list-style:none;
border:2px solid #ff0000;
float:left;
}
.menu li{
position: relative;
float:left;
border-right:1px solid #ff0000;
}

.menu li a{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#ffffff; 
    text-decoration:none; 
    padding: 30px 50px; 
    display:block; 
    background-color: #000000;}

.menu li a:hover{
background:#1a1a25;
color:#fff;
-moz-box-shadow:0 3px 10px 0 #ffffff;
-webkit-box-shadow:0 3px 10px 0 #ccc;
text-shadow:0px 0px 5px #fff;
}

.menu li  ul{
position:absolute;
top:25px;
left:0;
background-color:#fff;
display:none;
}
.menu li:hover ul, .menu li.over ul{display:block;}

.menu li ul li{
border:1px solid #c0c0c0;
display:block;
width:150px;
}

.container{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}
.titulo{
    position: relative;
    text-align: center;
    margin-top: 65px;
    color: #ccc;
}

.bandashome{
    padding: 50px 30%;
    display: grid;
     grid-template-columns: repeat(auto-fit, minman(220px, 1fr));
    gap: 23px; 
   


}



.card{
    background: #1a1a25;
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
    width: 500px;
    transition: transform 0.3s;
flex-direction: row;
display: inline-block;

     }

.card:hover{ 
       transform: scale(1.10);

}

.card img{
    margin-top: 7px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    flex-direction: row;
}

.card h3{
    margin: 0px 0 5px;
    color: #ffffff;

}

.card a{
    
    margin-bottom: 15px;
    color: #f31919;
    text-decoration: none;
    font-weight: bold;
}