	*{margin: 0; padding: 0;}

body{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 20px;
background-color: #000000;
background-image: url('asasa.png');
}


.menu{
   
list-style:none;
border:2px solid #ff0000;
float:left;
}
.menu li{
position: relative;
float:left;
border-right:1px solid #ff0000;
}

.menu li a{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#ffffff;
     text-decoration:none;
      padding: 30px 50px; 
      display:block; 
      background-color: #000000;}

.menu li a:hover{
background:#613434;
color:#fff;
-moz-box-shadow:0 3px 10px 0 #ffffff;
-webkit-box-shadow:0 3px 10px 0 #ccc;
text-shadow:0px 0px 5px #fff;
}

.menu li  ul{
position:absolute;
top:25px;
left:0;
background-color:#fff;
display:none;
}
.menu li:hover ul, .menu li.over ul{display:block;}

.menu li ul li{
border:1px solid #c0c0c0;
display:block;
width:150px;
}

.container{
    top: 100px;
    display: flex;
    margin-top: 211px;
    justify-content: center;
    align-items: center;
}
.titulo{
    position: relative;
    text-align: center;
    margin-top: 65px;
    color: #ccc;
}

.texto{

    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 20px;
padding-left: 38%;
margin-top: 55px;
}

.par1{
     color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 20px;
padding-left: 38%;
margin-top: 55px;
width: 400px;
}